<div class="container">
    <h1>I Can Has Burgerz!</h1>
    <div class="row">
        <div class="col">
            <h4>Burgerz I No Eated...</h4>
            <div>
                <ul style="list-style-type:none;">
                    {{#each burgers}}
                    {{#unless devoured}}
                        <li>
                            <p><span class="label">{{this.id}}. {{this.burger_name}}</span>
                            <button data-id="{{this.id}}" type="submit" class="devoured">EAT IT!</button>
                            </p>
                        </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col">
            <h4>Burgerz I Eated!</h4>
            <div>
                <ul style="list-style-type:none;">
                    {{#each burgers}}
                    {{#if devoured}}
                        <li>
                            <p>{{this.id}}. {{this.burger_name}}</p>
                        </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Can Has More Burgerz?</h4>
            <form class="create-form">
                <div class="form-group">
                    <label for="burgerz">Add More Burgerz:</label>
                    <input type="text" id="burgerz" name="name">
                </div>
                <button type="submit">Add Burger!</button>
            </form>
        </div>
    </div>
</div>