<li>
	{{burger_name}}

	<button class="devour" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}I CAN HAS!{{else}}I CAN HAS AGAIN?{{/if}}
	</button>

	<button class="byeburgerz" data-id="{{this.id}}">NO WANT</button>
</li>